.subir{
    height: 25px;
    width: 25px;
    color: #f5f0f0;
    position: fixed;
    right: 10px;
    bottom: 10px; 
    font: size 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px $colorSombra;
}